<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<!-- simple register page -->
<form action="/register" method="post">
    <div>
        <label>Username:
        <input type="text" name="username" placeholder="username" required="required"/>
        </label>
    </div>
    <div>
        <label>Password:
        <input type="password" name="password" placeholder="password" required="required"/>
        </label>
    </div>
    <div>
        <label>Confirm Password:
        <input type="password" name="confirmPassword" placeholder="confirm password" required="required"/>
        </label>
    </div>
    <div>
        <input type="submit" value="Register"/>
    </div>
</form>

</body>
</html>